@import "tailwindcss";

@theme {
  --font-pretendard: var(--font-pretendard);
  --color-primary: #389970;
  --color-dark: #898989;
  --color-light: #f0f0f0;
  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1281px;

  --animate-skeleton: skeleton 1s ease-in-out infinite;
  @keyframes skeleton {
    0%,
    100% {
      filter: opacity(1);
    }
    50% {
      filter: opacity(0.25);
    }
  }
}

body {
  font-synthesis: none;
}

input {
  @apply outline-none;
}